#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
table, th, td {
    //border: 1px solid var(--light-text);
    padding: 3px 3px;
    font-size: 14px;
  }
  th, td {
    border-bottom: 1px solid #ddd;
  }
