<div id="container">
    <h3 class="h3">Available Block chains</h3>
    <table>
        <tr>
            <th>
                Unique Id
            </th>
            <th>
                Block chain 
            </th>
            <th>
                Owned By
            </th>
        </tr>
   
    <tr *ngFor="let blockchain of results">
        <td>{{blockchain.id}}</td>
        <td>{{blockchain.name}}</td>
        <td>{{blockchain.admin_username}}</td>
        <td><button style="background-color: var(--button-color);" mat-raised-button (click)="submit(blockchain.id);">View</button></td>
        <!-- <div>{{blockchain.organisation}}</div> -->
    </tr>
    </table>
</div>
