<div class="center">
    <div *ngIf="bcConfig == null; else elseBlock">Block chain updating</div>
   <ng-template #elseBlock>
       <h2>Name: {{bcConfig.name}}</h2>
       <h4>Id: {{bcConfig.id}}</h4>
       <p>Created at: {{bcConfig.createdAt}}</p>
       <p>Updated at: {{bcConfig.updatedAt}}</p>
       <div id="container">   
         <div style="border: 1px solid var(--light-text);" *ngFor="let bc of bcConfig.blocks">
          <div>
              Sender: {{bc.sender}}
          </div>
          <div>
            Receiver: {{bc.receiver}}
        </div>
          <div>
              Amount: {{bc.sending}}
          </div>
          <div>
            Additional data: {{bc.raw_data}}
        </div>
        <div>
            Golden None: {{bc.golden_nonce}}
        </div>
        <div>
            Previous hash: {{bc.previous_hash}}
        </div>
        <div>
            Block hash: {{bc.hash}}
        </div>
          </div>
       </div>
       <button routerLink="/block" mat-raised-button style="background-color: var(--button-color);">
       Add blocks</button>
       
    </ng-template>
</div>
