<div id="container" style="background-image: url('assets/img/background.jpg')">
    <h2>Build Your Own Free Private Blockchain</h2>
 
    <button routerLink="/build" mat-button-raised>Build</button>
    <button routerLink="/available" style="margin-top: 10px;" mat-button-raised>See Available Blockchains</button>
    <h2 style="margin-top: 20px;" >Some famous qoutes</h2>
    <div>We have elected to put our money and faith in a mathematical framework that is free of politics and human error.
    </div>
 <span style="font-style: italic;">- Tyler Winkelvoss, Rower & Entrepreneur, Read more on cnbc.com</span>
   <hr>       
 <div>Anything that can conceive of as a supply chain, blockchain can vastly improve its efficiency- it doesn’t matter if its people, numbers, data, money.
        </div>
        <span style="font-style: italic;">- Ginni Rometty, CEO IBM</span>
        <hr>
 <div>Everything will be tokenized and connected by a Blockchain one day</div>
 <span style="font-style: italic;">-Fred Ehrsam</span>    
 <h2 style="margin-top: 20px;">Getting started with some Theory</h2>   
<div style="margin-top: 10px;">New to blockchain: <span style="text-decoration: none;" ><a style="text-decoration: none; color: var(--light-text);" target="_blank" href="https://blockchains-intuition.herokuapp.com">visit here</a></span></div>
</div>
